.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%
}
.friendsBox {
  display: flex;
  flex-direction: row;
  height: 100%
}

.profileBox {
  display: flex;
  flex-direction: column;
  height: 100%
}

.diveLogBox {
  display: flex;
  flex-direction: row;
  height: 100%
}

.dashboardFriend {
  display: flex;
  flex-direction: column;
  padding: 5px;
}