@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './PhotoAlbums.css';

/* GLOBAL */

html{
  background-image: url(../../images/websiteBackground/diveflag.png);
  background-size: cover;
  background-size: 125%;
  background-repeat: repeat-y;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

body{
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.card_fix{
  background-color: transparent;
  border: none;
  width: 500px;
}
.card-text {
  font-family: 'Cabin Sketch';
  font-size: 18px
}

.navbar {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  font-family: 'Cabin Sketch';
  background: -moz-linear-gradient(45deg, rgba(134,18,19,1) 0%, rgba(134,18,19,0.68) 99%, rgba(134,18,19,0.68) 100%);
  background: -webkit-linear-gradient(45deg, rgba(134,18,19,1) 0%,rgba(134,18,19,0.68) 99%,rgba(134,18,19,0.68) 100%);
  background: linear-gradient(45deg, rgba(134,18,19,1) 0%,rgba(134,18,19,0.68) 99%,rgba(134,18,19,0.68) 100%);
}

.navbar-brand{
  color: #E2DFD8;
  font-size: 60px;
  font-family: 'Cabin Sketch';
  font-style: italic;
}

.nav-link {
  -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
}

.nav-link, a {
  color: #E2DFD8;
  background: transparent;
  font-style: italic
}

.button_link{
  background: none;
}

.inputfile {
  padding: 1px;
  color: #E2DFD8;
  background: #861213;
}

input[type="file"] {
  display: none;
}
.upload_button {
  width: 75px;
  font-family: 'Cabin Sketch';
  font-size: 18px;
  background-color: #861213;
  color: #E2DFD8;
  border: none;
  margin: 5px;
}

/* FORMS */
.whole_form, button, .form_label, .form_select, .form_input, .form_textarea, .submit_button{
  font-family: 'Cabin Sketch';
  font-size: 18px;
}

.whole_form {
  background-color: rgba(226, 223, 216, 0.541);
  -webkit-box-shadow: 14px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
}

.ds_entry_edit_form, .dl_entry_edit_form, .profile_add_edit_form {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form_container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 8px;
}

.title_row{
  justify-content: center;
  margin: 5px;

}
.form_group{
  margin-left: 5px;
  justify-content: center;
}

.form_textarea{
  width: 500px
}

.form_label{
  text-align: left;
  text-indent: 5px;
}

.submit_button{
  width: 150px;
}

.add_ds_button{
  margin-left: 5px;
}

.button {
  background-color: #861214;
  padding: 0;
  color: #E2DFD8;
  border: none;
  margin: 5px;
  width: 175px;
  -webkit-box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 5px rgba(0,0,0,0.75);
  box-sizing: none;
}

.friend_search_input{
  margin-top: 15px;
  margin-left: 40px;
  height: 75%;
  font-family: 'Cabin Sketch';
  font-size: 18px

}

/* SIDE NAV */

.sc-gqjmRU {
  margin-top: 5px;
  margin-left: 5px;
  background: linear-gradient(to left, rgba(228, 227, 227, 0.26), rgba(110, 62, 62, 0.178));
 }
.dl_entry_link, .ds_site_link, .friends_list_friend_link   {
  border-bottom: 1px solid #E2DFD8;
  color: #E2DFD8;
  font-family: 'Cabin Sketch';
  font-size: 20px;
  margin-right: 10px;
  -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
}

/* DASHBOARD */
.db_grid {
  width: calc(102vw - 40px);
  height: calc(95vh - 40px);
}

.db_grid_left {
  border-right: 5px solid #861213;
}


.db_grid_bottom {
  border-top: 5px solid #861213;
}

.divesite_name, .friend_name {
  color: #E2DFD8;
}

.user_photo {
  -webkit-box-shadow: 14px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  resize: none;
  margin: 10px;
  margin-left: 90px
}

.db_user_profile {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 19px;
  font-style: italic;
  padding: 10px;
  -webkit-box-shadow: 14px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
}

.my-pane, .layout-pane, .splitter-layout {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Cabin Sketch';
  font-size: 20px;
  padding-left: 5px;
}
.card {
  color: black;
  border: none;
  background-color: rgba(226, 223, 216, 0.63)
}
.friends_box{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 5px;
}

.friend {
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  border: solid 1px #861213;
  background: #861213;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
}

.friend_photo{
  width: 125px;
  height: 125px
}

.divelog_box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 5px;
}

.log_entry {
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.75);
  border: solid 1px #861213;
  background: #861213;
  width: 200px;
  height: 250px;
  margin: 10px;
  text-align: center;
  flex-wrap: wrap
}

.prof_box {
  width: calc(30vw - 40px);
  height: calc(70vh - 40px);
  margin-left: 5px;
  margin-top: 5px;
}

/* FRIENDS */

.sc-bZQynM {
  padding-left: 0;
}

.friend_user_profile_box{
  display: flex;
  flex-direction: column;
}
.friends_grid {
  width: calc(82vw - 40px);
  height: calc(90vh - 40px);
}
/* DIVELOG */

.dl_dive_details{
  width: 100%;
  margin: 4px;
  font-size: 20px
}

.dl_dive_details_card{
  flex-direction: row;
  flex-basis: auto;
  background-color: transparent;
  border: none;
}

.divelog_details_photo {
  width: 225px;
  height: 225px;
  margin: 10px;
  resize: none;
  -webkit-box-shadow: 14px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
}

.dl_dive_details_card_1{
  flex-direction: column;
  flex-basis: auto;
  width: calc(25vw - 40px);
  height: calc(92vh - 40px);
  font-style: italic;
  padding: 10px;
  background-color: rgba(226, 223, 216, 0.541);
  -webkit-box-shadow: 14px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
}

.dl_dive_details_card_2{
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  margin-left: 10px;
  width: calc(65vw - 40px);
  height: calc(90vh - 40px);
}
/* DIVESITES */

.ds_site_details{
  width: 100%;
  margin: 10px;
  font-family: 'Cabin Sketch';
  font-size: 18px;
  background-color: rgba(226, 223, 216, 0.541);
  -webkit-box-shadow: 14px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
}
.ds_details{
  margin-left: 5px;

}

/* PROFILE */

.user_profile {
  width: 100%;
  margin: 10px;
  padding: 5px;
  background-color: rgba(226, 223, 216, 0.541);
  -webkit-box-shadow: 14px 10px 50px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
  box-shadow: 14px 10px 50px 5px rgba(0,0,0,0.75);
}

.profile {
  margin-left: 10px;
  font-size: 20px;

}

.inputfile {
  font-family: 'Cabin Sketch';
  font-size: 18px
}

/*LOGIN AND REGISTER */

.login_grid {
  display: flex;
  flex-direction: column;
  font-family: 'Cabin Sketch';
  font-size: 50px
}

.login_grid_logo {
  font-size: 50px;
  margin-left: 125px;
}

.login_grid_left {
  justify-content: center;
  height: calc(125vh - 40px);
}

.login_grid_right {
  justify-content: center;
  height: calc(125vh - 40px);
}
.login_form_whole {
  margin-left: 100px;
  width: 400px;
  font-size: 20px;
}

.login_password, .login_userName {
  font-size: 20px;
}

.login_password_input, .login_userName_input {
  font-size: 20px;
  margin-left: 10px;
}

.btn-register {
  background-color: #CBD2D9;
  font-family: 'Cabin Sketch';

}

.registration_grid {
  display: flex;
  flex-direction: column;
  font-family: 'Cabin Sketch';
  font-size: 50px
}

.registration_grid_logo {
  font-size: 40px;
  margin-left: 75px;
  width: 100%;
}
.registration_grid_logo_subtitle {
  font-size: 20px;
  margin-left: 75px;
  width: 100%;
}

.registration_grid_left {
  justify-content: center;
  height: calc(125vh - 40px);
}

.registration_grid_right {
  justify-content: center;
  height: calc(125vh - 40px);
}
.registration_form_whole {
  margin-left: 100px;
  width: 600px;
  font-size: 20px;
}

.registration_form_group {
  margin-left: 10px;
}

.registration_submit_button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.not-a-user {
  margin-top: 5%;
  color: #861213;
  font-family: 'Cabin Sketch';
  background: transparent
}

/* PHOTO ALBUMS */

.image-gallery-content, .image-gallery-slide-wrapper, .image-gallery-image, .image-gallery-slide {
  width: calc(70vw - 40px);
  height: calc(80vh - 40px);
  background: transparent
}

.photo_album_link {
  background: transparent;
  width: 225px;
  height: 225px;
  margin: 10px;
}
